@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

body {
    font-family: "Open Sans", sans-serif;
}

a {
    text-decoration: none;
}

.global-wrapper {
    margin-top: 7em;
    display: flex;
}

.container {
    width: 1170px;
    margin: auto;
    display: flex;
}

aside.side-bar {
    width: 30%;
    padding: 0 10px;
}

main.main-content {
    width: 70%;
    padding: 0 10px;
}
