// General COLORS VARIABLES
$white: #ffffff;
$bgGray: #ededed;
$borderGray: #d9d9d9;
$textColorDark: #555555;
$textColorLight: #6d8299;
$veniceBlue: #06519d;
$robinEggBlue: #00bcd5;
$denim: #1b75ba;
$valencia: #dd4140;
$spectra: #325c62;
$flushMahogany: #c83b3a;
$mineralGreen: #446c60;
$donJuan: #585357;
$kabul: #6c4844;
$sanMarino: #3f51b5;
$apple: #689f38;
$sushi: #8bc34a;
$seagull: #89bceb;
$sapphire: #303f9f;
$indigo: #4455bd;
$cerulean: #00a0e4;
$congressblue: #023f88;

// Site Specific Colors
$lightGray: #f2f2f2;
$darkGray: #666666;
$silver: #cccccc;
$oliveDrab: #779324;
$atlantis: #9dc02e;
$pickledBluewood: #2c3e50;
$cinnabar: #e74c3c;
